{% extends 'base.html' %}

{% load static %}

{% block title %}Iniciar sesión{% endblock %}

{% load crispy_forms_tags %}

{% block content %}

<form action="" method="post" style="color: white;">
    <div style="width: 75%; margin: auto;">
        {% csrf_token %}
        {% if messages %}
            {% for mensaje in messages %}
                <span class="alert alert-{{ mensaje.tags }}"> {{ mensaje }}</span>
            {% endfor %}
        {% endif %}

        <br><br>
        {{ form|crispy }}
        <div class="text-right">
            <button type="submit" class="btn btn-success my-3">Iniciar sesión</button>
        </div>
    </div>
</form>
{% endblock %}